@import './rating-bar-map.scss';

.bar-container {
    width: 100%;
    background-color: var(--track-background-color);
    border-radius: $rating-bar-border-radius;
    height: $rating-bar-height;
    display: flex;

    .bar {
        width: 0%;
        height: $rating-bar-height;
        border-radius: $rating-bar-border-radius;
        padding-left: $rating-bar-padding-left;
      }

      .track-rating-excellent {
        background-color: var(--track-rating-excellent-color);
      }
      .track-rating-great {
        background-color: var(--track-rating-great-color);
      }
      .track-rating-average {
        background-color: var(--track-rating-average-color);
      }
      .track-rating-poor {
        background-color: var(--track-rating-poor-color);
      }
      .track-rating-bad {
        background-color: var(--track-rating-bad-color);
      }
  }

  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--rating-bar-label-font-size);
    margin-top: var(--spacing-03);
    color: var(--primary-text);
  }
  