@import './rating-bar-map.scss';

.bar-container {
    width: 100%;
    background-color: $track-background-color;
    border-radius: 16px;
    height: 8px;
    display: flex;

    .bar {
        width: 1%;
        height: 8px;
        border-radius: 16px;
        padding-left: 20px;
      }

      .track-rating-excellent {
        background-color: $track-rating-excellent-color;
      }
      .track-rating-great {
        background-color: $track-rating-great-color;
      }
      .track-rating-average {
        background-color: $track-rating-average-color;
      }
      .track-rating-poor {
        background-color: $track-rating-poor-color;
      }
      .track-rating-bad {
        background-color: $track-rating-bad-color;
      }
  }

  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: var(--spacing-03);
    color: var(--primary-text);
  }
  